<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15466585243-vd6tvcmm43tk4hh8qndmkpu2dmk2uci3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15466585243-vd6tvcmm43tk4hh8qndmkpu2dmk2uci3</string>
	<key>API_KEY</key>
	<string>AIzaSyBpdmdauBofhG-xZCwC9kcZKzSxTDRibRs</string>
	<key>GCM_SENDER_ID</key>
	<string>15466585243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gexsi.panda.search</string>
	<key>PROJECT_ID</key>
	<string>wwf-panda-search-aa1d0</string>
	<key>STORAGE_BUCKET</key>
	<string>wwf-panda-search-aa1d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15466585243:ios:f75f408c7f14e34c053a3e</string>
	<key>DATABASE_URL</key>
	<string>https://wwf-panda-search-aa1d0.firebaseio.com</string>
</dict>
</plist>