<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57896508472-cp1ci5n4pp82n0pqh12h8k4ln6lg9qn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57896508472-cp1ci5n4pp82n0pqh12h8k4ln6lg9qn0</string>
	<key>API_KEY</key>
	<string>AIzaSyBbVEtNwOJEnM_F51uhphzqoEyg00BAOfw</string>
	<key>GCM_SENDER_ID</key>
	<string>57896508472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gexsi.pandasearch</string>
	<key>PROJECT_ID</key>
	<string>panda-search-apps-ios-android</string>
	<key>STORAGE_BUCKET</key>
	<string>panda-search-apps-ios-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:57896508472:ios:096241121955de907e5acd</string>
	<key>DATABASE_URL</key>
	<string>https://panda-search-apps-ios-android.firebaseio.com</string>
</dict>
</plist>
